@page "/editcategory/{Id:guid}"
@using Admin.DTOs
@using Admin.Services
@rendermode InteractiveServer
@inject CategorySVC categorySVC
@inject NavigationManager NavigationManager
@inject NotifySVC NotifyService

@if(CategoryDTO == null)
{
    <h3>The Category does not exist</h3>
}
else
{
    <h3>Edit Category</h3>

    <EditForm Model="@CategoryDTO">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group mb-3">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="CategoryDTO.Name" />
            <ValidationMessage For="@(() => CategoryDTO.Name)" />
        </div>

        <div class="form-group mb-3">
            <label>Description</label>
            <InputText class="form-control" @bind-Value="CategoryDTO.Description" />
            <ValidationMessage For="@(() => CategoryDTO.Description)" />
        </div>

        <div class="form-group mb-3">
            <label>Is Available</label>
            <div>
                <InputRadioGroup @bind-Value="CategoryDTO.IsAvailable">
                    <InputRadio Value="true" /> Active
                    <InputRadio Value="false" /> Deactive
                </InputRadioGroup>
            </div>
            <ValidationMessage For="@(() => CategoryDTO.IsAvailable)" />
        </div>

        <button class=" btn btn-primary mt-3" @onclick="async() => await HandleValidSubmit()">Edit</button>
    </EditForm>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    private CategoryDTO? CategoryDTO = new CategoryDTO();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        var response = await categorySVC.GetByIdAsync(Id);
        CategoryDTO = response ?? null;
    }

    private async Task HandleValidSubmit()
    {
        if (CategoryDTO == null)
            return;
        var response = await categorySVC.Update(CategoryDTO);

        if (response != null)
        {
            await NotifyService.Notify("Update category successfully");
            NavigationManager.NavigateTo("/categories");
        }
        else
        {
            await NotifyService.Notify("Create category failed");
        }
    }
}