.search-bar::placeholder{
    color: #989898b5;
}

.user-options{
    background-color: #eeeeee;
}
.user-options li {
    padding: 4px 10px;
}
.user-options li:hover{
    background-color: #dcdcdcb5;
}
.user-options li * {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
