.title[b-so8ev9nbtk]{
    font-family: Roboto;
    text-transform: uppercase;
}

.item-img[b-so8ev9nbtk]{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.item[b-so8ev9nbtk]{
    display: flex;
    margin-bottom: 30px;
}

.item-header[b-so8ev9nbtk]{
    position: relative;
}
.item-body[b-so8ev9nbtk]{
    flex: 1;
}


.info-section[b-so8ev9nbtk]{
    flex: 1;
    display: flex;
}
.about-section[b-so8ev9nbtk]{
    flex: 1;
    padding: 0 20px;
}
.price-section[b-so8ev9nbtk]{
    text-align: right;
}

.summary-section[b-so8ev9nbtk]{
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-input[b-so8ev9nbtk]{
    width: 100px;
}

.clear-btn[b-so8ev9nbtk]{
    font-size: 12px;
    position: absolute;
    left: 4px;
    top: 4px;
    border: none;
    color: white;
    font-weight: bold;
}

.name[b-so8ev9nbtk]{
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    color: var(--color-1);
}

.description[b-so8ev9nbtk]{
    font-size: 14px;
    color: var(--color-2);
}